aiogram==2.17.1
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.1
atomicwrites==1.4.0
attrs==21.2.0
Babel==2.9.1
certifi==2021.10.8
charset-normalizer==2.0.9
colorama==0.4.4
DAWG-Python==0.7.2
docopt==0.6.2
frozenlist==1.2.0
idna==3.3
iniconfig==1.1.1
multidict==5.2.0
packaging==21.3
pluggy==1.0.0
py==1.11.0
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pyparsing==3.0.6
pytest==6.2.5
pytz==2021.3
requests==2.26.0
six==1.16.0
toml==0.10.2
transitions==0.8.10
typing_extensions==4.0.1
urllib3==1.26.7
yarg==0.1.9
yargy==0.15.0
yarl==1.7.2
